.navbar {
    position: fixed;
    background-color: black;
    width: 100%;
    left: 0;
    top: 0;
    color: #e4e3db;
    border-bottom: 2px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav h4 {
    padding: 5px;
}

.nav h4:hover {
    color: orange;
}