.bookList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    gap: 30px;
    /* background: linear-gradient(rgba(255, 0, 0, 30%), rgba(255, 0, 0, 30%)), url(https://www.toptal.com/designers/subtlepatterns/uploads/paisley.png); */
}

.bookList h3 {
    color: #c5001a;
}

.bookList-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.bookList__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    padding: 25px;
    background-color: #c5001a;
    border-radius: 20px;
}

.bookList__card-img {
    margin-left: auto;
    margin-right: auto;
    height: 180px;
    overflow: hidden;
}

.bookList__card-img img {
    width: 150px;
    height: 160px;
    border-radius: 5px;
    border: 2px solid #efefef;
}

.bookList__card-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 204, 0, 70%);
    height: 25%;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.bookList__card-title h6  {
    font-size: 12px;
}