.header {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 70%), rgba(0, 0, 0, 70%)), url(../../images/header2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    gap: 20px;
    /* margin-top: 60px; */
}

.header__content {
    /* background-color: rgba(255, 0, 0, 80%); */
    background-color: black;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 0 25px orange;
}

h3 {
    color: aliceblue;
}