.header {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: url(../../images/header2.jpg);
    background-position-y: -140px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    gap: 20px;
}

.header__content {
    background-color: rgba(255, 0, 0, 80%);
    padding: 25px;
    border-radius: 25px;
}

h3 {
    color: aliceblue;
    margin-bottom: 50px;
}